@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%;} }

@keyframes example {
from { opacity: 0; }
to { opacity 1; }
}

@mixin vexer-blaxbox {

	/*
	* Vaadin provides an effective way of importing add-on themes but does not 
	* provide any automatic name-spacing. You should prefix all your 
	* rules with blaxbox to avoid any conflicts.
	*/

	.blaxbox-answer {
		color: green;
	}

	.blaxbox-title {
		font-size: 24px;
		font-weight: stronger;
	}
	
img {

}

.pyorii { 
animation-name: spin;
animation-duration: 4s;
animation-iteration-count: infinite;
position: absolute;
left:100px;
top:100px;
}
	
	
	
}